{
    "plugins": [
        [
            "transform-define",
            {
                "process": {
                    "env": {
                        "RES_API": "http://10.72.2.33:8080/api/v2"
                    }
                }
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "style": false
            }
        ]
    ],
    "presets": [
        "next/babel"
    ]
}
