.custom-slider {
    position: relative;
    .slick-list {
        .slick-track {
            .silder-item-container {
                position: relative;
                h3 {
                    color: #fff;
                    text-shadow: 1px 1px 5px #000;
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}