.page-title {
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    display: inline-block;
    width: 100%;
    text-align: right;
    h1 {
        display: inline-block;
        margin-right: 20px;
        font-weight: bold;
    }
}