html,
body {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-container {
    overflow-x: hidden;
    section {
        position: relative;
        z-index: 1;
        &.index-parallax {
            z-index: -1;
            height: 200px;
            .parallax-layer_back {
                background-image: url('/static/imgs/Gintama-1.jpg');
                background-size: 100%;
                background-position: 0 -100px;
                height: 200%;
                

            }
            img {
                position: absolute;
                width: 100%;
            }
        }
    }
}